[submodule "dispersy"]
        path = app/python/tgscore/dispersy
        url = https://github.com/d3vgru/dispersy.git
[submodule "app/python/pymdht"]
	path = app/python/pymdht
	url = https://github.com/d3vgru/pymdht.git
[submodule "app/python/tgs-core"]
	path = app/python/tgs-core
	url = git://github.com/whirm/tgs-core.git
